---
import "../styles/main.css";
import BarcaResultsCard from '../components/BarcaResultsCard.jsx';
import AvatarPhoto from "@components/AvatarPhoto";
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jonnctrl</title>
</head>

<body class="bg-slate-400">
                <header>
                    <nav class=" fixed top-0 left-0 w-full z-50">
                        <div class="flex justify-center items-center gap-6 p-4">
                            <a href="/" class="">Inicio</a>
                            <a href="/contact" class="">Contacto</a>
                            <a href="/about">About</a>
                        </div>
                    </nav>
                </header>

    <section class="flex justify-center items-center bg-gray-50 text-gray-800 p-8">
        <div class=" py-10 mt-8 max-w-4xl mx-auto space-y-12">
        
            <div class="flex flex-col md:flex-row items-center md:space-x-8">
                <div class="mb-6 md:mb-0 flex-shrink-0">
                    <AvatarPhoto className="w-60 h-60 rounded-full object-cover border-0 shadow-xl hover:shadow-2xl transition duration-300" client:load/>
                </div>
                
                <div>
                    <h2 class="text-5xl font-extrabold text-yellow-700">Acerca de Mí</h2>
                    <p class="text-xl font-medium text-gray-600 py-2">
                        Estudiante de Ingeniería en Sistemas, desarrollador Front-end y Back-end con aspiraciones a ser un desarrollador Full Stack.
                    </p>
                </div>
            </div>
            
            <h3 class="text-3xl font-bold text-gray-700 mb-6 border-b-2 border-yellow-950 pb-2">Pasiones</h3>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-center">
                
                <div class="p-6 bg-white rounded-lg shadow-xl hover:shadow-2xl transition duration-300">
                    <span class="text-4xl mb-3 block">🎶</span>
                    <h4 class="text-xl font-semibold mb-2">Música</h4>
                    <p class="text-sm text-gray-600"> Desde chiquito me ha encantado la musica, mi genero favorito es el R&B, disfruto explorando nuevos géneros, no paro de escuchar musica de calidad
                    y la producción musical como hobby siempre sera mi lugar feliz.</p>
                </div>
                
                <div class="p-6 bg-white rounded-lg shadow-xl hover:shadow-2xl transition duration-300">
                    <span class="text-4xl mb-3 block">📸</span>
                    <h4 class="text-xl font-semibold mb-2">Fotografía</h4>
                    <p class="text-sm text-gray-600">Me encanta capturar los pequenios momentos que casi todos pasan por alto, siempre he sido alguien nostalgico y capturar esos momentos me ponen demasiado contento</p>
                </div>
                
                <div class="p-6 bg-white rounded-lg shadow-xl hover:shadow-2xl transition duration-300">
                    <span class="text-4xl mb-3 block">🐧</span>
                    <h4 class="text-xl font-semibold mb-2"> Coding & Desarrollo en Linux</h4>
                    <p class="text-sm text-gray-600">Mi entorno preferido. Disfruto personalizando mi flujo de trabajo en sistemas operativos GNU/Linux. 
                        Ubuntu fue la primer distro que use pero actualmente uso fedora (arch me hace ojitos).</p>
                </div>

                <div class=" bg-white rounded-lg shadow-xl hover:shadow-2xl transition duration-300">
                    <BarcaResultsCard client:load/>
                </div>
  
            </div>
        </div>
    </div>
</section>

</body>
</html>