---
import MainLayout from "src/layouts/MainLayout.astro"
import ContactForm from '../components/ContactForm.jsx';
---
<MainLayout title="Contacto">
    <header class="py-7 border-b-2 border-b-black w-full">
                <div class="space-x-4">
                    <a href="/" class="absolute top-4 right-14 text-gray-700 font-semibold mb-4 hover:text-indigo-600">Inicio</a>
                    <a href="/contact" class="absolute top-4 right-28 text-gray-700 font-semibold mb-4 hover:text-indigo-600">Contacto</a>
                    <a href="/about" class="absolute top-4 right-168 text-gray-700 font-semibold mb-4 hover:text-indigo-600">About</a>
                </div>
            </header>
  <section>
    <div class="bg-white p-6 sm:p-8 rounded-lg ">
                <ContactForm client:load />
            </div>
  </section>
</MainLayout>
