---
const { title = 'Mi portfolio' } = Astro.props
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <!-- si quieres transiciones site-wide las añadiremos aquí (ver sección de View Transitions) -->
  </head>
  <body>
    <main>
      <slot />
    </main>

    <footer class="w-full mt-12 py-4 bg-gray-800 text-center text-gray-400">
      © {new Date().getFullYear()} - Jonnctrl
    </footer>
  </body>
</html>
